<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	<!-- 关于HelloWorldServlet 可以设置自定义位置 -->
	<servlet>
		<servlet-name>HelloWorldServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
	</servlet>
	<!-- 将DispatcherServlet 映射到web 应用的根路径下，只要是web 根路径下，就会被该DispatcherServlet 
		处理 -->
	<servlet-mapping>
		<servlet-name>HelloWorldServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- 设置根上下文的配置路径 -->
	<context-param>
		<!-- 这里需要设置上下文，param-name 必须是contextConfigLocation，否则启动异常 -->
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/myRootConfigure-context.xml</param-value>
	</context-param>
	<!-- 注册ContextLoader-Listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.example.test.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/board/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/reply/*</url-pattern>
	</filter-mapping>
</web-app>
